section.need-website button{
    background-color: white;
    border: 1px solid black;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: bold;
}

section.sign-up form button {
    background-color: white;
    border: 1px solid black;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: bold;
}
