
* {
    padding: 0;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

svg {
    display: block;
    width: 100%;
    height: auto;
}

html {
    font: 12px/1.5 Helvetica, sans-serif;
}



@media (min-width: 600px) {
    html {
        font-size: 14px
    }
}

@media (min-width: 1100px) {
    html {
        font-size: 16px
    }
}

body, table, input {
    font:inherit;
}

.site-title,
h1, h2, h3, h4, h5, h6 {
   font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif; 
   font-weight: normal;
   padding: 0;
   margin: 0 0 0.3em 0;
   line-height: 1.2;
}


h1 { font-size: 2.8em; } /* 14 * 2.8 = 39px */
h2 { font-size: 2.2em; } /* 14 * 2.2 = 31px */
h3 { font-size: 1.8em; } /* 14 * 1.8 = 25px */
h4 { font-size: 1.6em; } /* 14 * 1.6 = 22px */
h5 { font-size: 1.2em; } /* 14 * 2.2 = 17px */
h6 { font-size: 1.0em; } /* 14 * 1.0 = 14px */

p, ul, ol{
    padding-bottom: 1.5em;
}

section {
    margin-bottom: 5em;
}

ul, ol {
    padding-left: 1.6em;
}

li {
    list-style-position: outside;
}

.person img {
    width: 80px;
    border-radius: 50%;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.4);
    margin-bottom: 3em;
}

.person-name {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.person-position {
    font-size: 0.8em;
}

.person-description {
    font-size: 0.9em;
    font-style: italic;
    font-weight: 550;
}

.site-header nav ul { 
    display: flex;
    list-style: none;
    padding: 1em;
}

.site-header nav ul li {
    padding: 1em;
}

.site-header nav ul li a {
    text-decoration: none;
    color:gray
}

.need-a-website {
    display: flex;
    flex-wrap: wrap;
}

.need-a-website div {
    flex: 0 1 75%;
}

.need-a-website h2 {
    font-weight: bold;
}

.need-a-website button {
    padding: 0.5em 1em 0.5em 1em;
    border: 2px solid black;
    background-color: white;
}

.need-a-website a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

svg {
    width: 8em;
    flex: 0 0 auto;
    margin-left: 1.5em;
}

.newsletter-section {
    background-color: purple;
    min-width: 100vw;
}

.our-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4em;
}

.our-team h2 {
    flex: 0 0 100%;
    text-align: center;
    position: relative;
    padding-bottom: 0.5em;
}

.our-team h2:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
    height: 1px;
    min-width: 3em;
    max-width: 3em;
    border-bottom: 2px solid black;
}

.person {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 0 0 28%;
}


.site-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
}


.site-title {
    font-size: 2.5em;
    color: purple;
    margin-bottom: 0;
}

.title-description {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.75em;
    text-transform: uppercase;
}


body {
    padding-top: 1em;
    padding-bottom: 1em;
}

.container {
    display: flex;
    flex-direction: column;
}

@media (min-width: 1100px) {
    body {
        max-width: 65em;
        margin: 0 auto;
    }

    main {
        max-width: 50em;
        margin: 0 auto;
    }


}