.presentation {
}

.presentation p {
    padding: 0;
}

.presentation header {
    padding-bottom: 2em;
}

.presentation header p {
    opacity: 0.8;
}

.presentation header h1 {
    line-height: 1.1;
    margin: 0.2rem 0 0.2rem -0.06em;
}

.presentation header h2 {
    color: #4D5BCE;
    font-size: 1.8em;
}

.presentation header h2::before {
    display: inline-block;
    content: '>';
    padding-right: 1em;
}

.presentation p a {
    text-decoration: none;
}

.presentation p a:hover {
    text-decoration: underline;
}

.presentation .comment {
    color: #607B96;
}

.presentation .clr-variable-type {
    color: #4D5BCE;
}

.presentation .clr-variable-name {
    color: #43D9AD;
}

.presentation .clr-variable-value {
    color: #E99287;
}


.text-hide {
    width: 30em;
    margin-top: 2em;
    position: relative;
}

.text-hide:after {
    display: block;
    content: '';
    height: 2.7em;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: 
    linear-gradient(
      180deg in srgb, 
      rgba(1, 22, 39, 0) 0%, rgba(1, 22, 39, 1) 85%
    )
  ;
}