@media (max-width: 600px) {
    body > div > header > ul {
        display: flex;
        justify-content: center;
        gap: 1.5em;
    }

    .thumbnails { 
        flex-direction: column;
    }

    .thumbnails > div {
        width: 100%;
        height: auto;
        gap: 1em;
    }

    .thumbnails a img { 
        aspect-ratio: 2 / 1;
    }

    .thumbnails > div > :last-child {
        margin-bottom: 2em;
    } 

    body > div > main > footer > p {
        font-size: 1.35em;
    }



}


