@import url('base/variables.css');

@import url('base/reset.css');
@import url('base/typography.css');

@import url('site/site-layout.css');

@import url('site/site-header.css');
@import url('site/site-aside.css');
@import url('site/site-footer.css');

@import url('elements/buttons.css');
@import url('elements/forms.css');
@import url('elements/tables.css');

@import url('components/navigation.css');
@import url('components/socials.css');

@import url('pages/page.css');
@import url('pages/home.css');
@import url('pages/about.css');
