.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

.site-title {
    font-size: 2em;
    line-height: 1;
    margin: 0;
}

.site-title a {
    display: block;
    text-decoration: none;
}
