@media (max-width: 600px) {

    .w3-right,
    #about>article.w3-col.m6.w3-padding-large.w3-hide-small>img {
        display: none;
    }

    .w3-col.m6,
    .w3-col.l6 {
        width: 100%;
    }

    .w3-row.w3-padding-64 {
        display: flex;
        flex-direction: column;
    }

}