@media (max-width: 600px) {

    * {
        margin: 0;
        padding: 0;
    }

    header nav {
        justify-content: center;
        margin: 0;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px
    }

    .header-title {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .header-title h1 {
        font-size: 29px;
    }

    .header-title p {
        font-size: 14px;
        padding-left: 90px;
        padding-right: 90px;
    }
    
    .choose-us li img {
        width: 7rem;
        height: 7rem;
    }

    .choose-us {
        padding-bottom: 1.5rem;;
    }
    
    .choose-us ul{
        display: flex;
        flex-direction: column;
    }

    .choose-us li h4 {
        font-size: 16px;
    }

    .choose-us li p {
        font-size: 12px;
        padding-bottom: 15px;
        padding-left: 160px;
        padding-right: 160px;
    }

    .about-us h3 {
        font-size: 18px;
    }

    .about-us p {
        font-size: 13px;
    }

    .about-us p:nth-child(3) {
        width: 81%;
    }

    .team-description-wrapper h3{
        font-size: 20px;
    }

    .team-description-wrapper p{
        font-size: 13px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .team-description ul li img {
        width: 120px;
        height: 120px;
    }

    .team-description ul li > p:nth-child(2) {
        font-size: 10px;
    }

    .team-description ul li > p:nth-child(3) {
        font-size: 10px;
    }

    footer p{
        font-size: 14px;
    }
}