@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

html {
    font: 14px/1.5 'Lato', sans-serif;
}

body, table, input {
    font: inherit;
}

p {
    padding-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    margin-bottom: 0.2em;
}

h1 { font-size: 2.6em; }
h2 { font-size: 2.0em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }