@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

body {
    font-family: "Inter", sans-serif;
}

header {
    background-color: #D9D9D9;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 95px;
    align-items: center;
    margin: 0 4em;
}

nav ul {
    display: flex;
}

nav li {
    margin: 0 1em;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

nav button {
    border: 1px solid black;
    background-color: #fff;
    color: black;
    padding: 10px 15px;
}


/* h:765 */

.first {
    position: relative;
    height: 765px;
}

.first img {
    position: absolute;
    top: -19em;
    width: 100%;
    height: auto;
    z-index: -1;
}

.first h1 {
    font-size: 3.5em;
    font-weight: bold;
    padding: 3em 5em;
    width: 59%;
}

.first p {
    font-size: 22px;
    width: 37%;
    margin: -1em 0 0 15%;
    color: white;
    font-weight: bold;
    line-height: 1.1;
}

.first button {
    font-size: 14px;
    margin: 4em 0 0 16%;
    color: white;
    background-color: black;
    padding: 1em 2em;
}

.second {
    height: 335px;
    background-color: white;
    margin: 0 4em;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.second h1 {
    font-size: 3.5em;
    color: #FF7C4C;
    font-weight: bold;
    margin-top: 1.4em;
    margin-bottom: 1em;
}

.second h2 {
    font-size: 21px;
    margin-bottom: 1em;
}

.second h3 {
    font-weight: 200;
}

.third {
    padding: 2em 4em;
    background-color: #D9D9D9;
}

.top {
    display: flex;
    margin: 2em 0;
}

.top img {
    width: 630px;
    height: auto;
    margin-right: 1em;
}

.top .info {
    width: 49%;
    padding: 1em;
}

.top .info h1 {
    color: #595959;
    font-size: 15px;
    margin-bottom: 2em;
}

.top .info h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 2em;
}

.top .info h3 {
    font-weight: 200;
    margin-bottom: 10px;
}

.top .info h4 {
    font-weight: bold;
}

.top .info footer {
    position: relative;
    top: 30%;
    font-weight: 200;
}

/* v:685 */

.fourth {
    height: 685px;
    margin: 0 4em;
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 3em 0;
}

.wrapper {
    background-color: #F5F5F5;
}

.fourth .left {
    width: 520px;
}

.fourth .mid,
.fourth .right {
    width: 515px;
    height: 565px;
}

.fourth .mid {
    background-color: #FF7C4C;
}

.fourth .right {
    background-color: black;
}

.fourth .left h1 {
    font-size: 3em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 1.5em;
}

.fourth .left p {
    font-size: 19px;
    font-weight: 300;
}

.fourth .mid,
.fourth .right {
    text-align: center;
}

.fourth .mid h1,
.fourth .right h1 {
    font-size: 2em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}

.fourth .mid h2,
.fourth .right h2 {
    font-size: 4em;
    margin-bottom: 1em;
}

.fourth span {
    font-weight: bold;
}

.fourth .mid p,
.fourth .right p {
    margin-bottom: 1em;
}

.fourth .mid p,
.fourth .mid span,
.fourth .mid h3,
.fourth .right p,
.fourth .right span,
.fourth .right h3 {
    font-size: 22px;
}

.fourth .mid h3,
.fourth .right h3 {
    font-weight: bold;
    margin-bottom: 4em;
}

.fourth .mid button,
.fourth .right button {
    padding: 25px 4em;
    background-color: black;
    color: white;
    border-radius: 6px;
}

.fourth .right {
    color: white;
}

.fourth .right button {
    background-color: white;
    color: black;
}

.logos {
    padding: 0 4em;
    height: 145px;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}