@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url("https://use.fontawesome.com/releases/v6.0.0/css/all.css");

body {
    font-family: 'Open Sans', sans-serif;
}

.image {
    background-image: url("image/cover.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 50%;
    display: flex;
    height: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left, .right {
    width: 40%;
}

.left {
    text-align: justify;
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
}

.left .top, .left .mid {
    color: white;
    position: absolute;
}

.left .top {
    top: 4%;
    font-weight: bold;
    left: 9%;
    font-size: 20px;
}

.left .mid {
    top: 31%;
    width: 100%;
    text-align: center;
}

.left .mid p:first-child {
    font-size: 4.2em;
    font-weight: lighter;
}

.left .mid p:last-child {
    font-size: 3em;
    margin-top: -73px;
}

.left .bottom {
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 83%;
    text-align: center;
    font-size: 33px;
    letter-spacing: 13px;
}

.right {
    width: 30%;
    padding: 35px 82px;
}

.form {
    font-size: 30px;
    color: #cbd4e0;
}

.input {
    margin-left: 20px;
    font-size: 1.8em;
}

hr {
    margin-top: -16px;
    border-bottom: none;
    height: 1px;
    opacity: 0.4;
}

.bot {
    margin-top: 55px;
    display: flex;
}

.registration {
    color: #92929b;
}

.right .bot button {
    padding: 14px 11%;
    font-size: 28px;
    background-color: black;
    color: white;
    border-radius: 35px;
}

.bot p {
    font-size: 21px;
    margin-left: 12px;
    text-decoration: underline;
    color: #71717a;
}