* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 2em;
    background-color: rgb(238, 238, 238);
}

.card {
    background-color: rgb(255, 255, 255);
    max-width: 800px;
    border-radius: 0.5em;
    box-shadow: 2px 2px 10px 4px rgba(0,0,0,0.50);
}

.card-button {
    background-color: rgb(0, 153, 0);
    color: white;
    border: none;
    border-radius: 0.3em;
    padding: 0.5em 1em;
    margin: 0.5em;
}

.card-title {
    font: 1em/1.2 Georgia, serif;
    font-weight: bold;
    padding: 1em 0;
}

.card-title,
.card-description {
    text-align: left;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.image {
    overflow: hidden;
    position: relative;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.image:before {
    display: block;
    content: "";
    padding-top: 56.25%;
}

.image img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.content {
    padding: 0 1.5em 1em 1.5em;
    text-align: right;
}