@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
    font-family: "Open Sans", sans-serif;
}

.wrapper {
    max-width: 1350px;
    height: 675px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-top: 6em;
    border-radius: 2em;
    overflow: hidden;
}

.wrapper .left,
.wrapper .right {
    width: 50%;

}

.wrapper .left img {
    display: block;
    width: 100%;
    height: auto;
}

.wrapper .right {
    padding: 4em 2em;
    background-color: #F6F7F8;
    height: 100%;
    text-align: center;
}

.wrapper .right h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 2em;
}

.wrapper .right button {
    padding: 1em;
    margin: 0 4em;
    border-radius: 10px;
    border: 1px solid black;
    margin-bottom: 2em;
}

body>section>section.right>button:nth-child(2) {
    background-color: #86D862;
}

body>section>section.right>button:nth-child(3) {
    background-color: #E0E0DF;
}

.wrapper .right h2 {
    font-weight: bold;
    margin-bottom: 2em;
}

.wrapper .right select {
    width: 195px;
    border: 1px solid black;
}

.wrapper .right input {
    width: 150px;
    border: 1px solid black;
}

.wrapper .right .gender {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-bottom: 2em;
}

#pounds {
    width: 450px;
    padding: 0.5em 0.5em;
    margin-bottom: 2em;
}

#feet,
#inches {
    width: 250px;
    padding: 0.2em 0.5em;
    margin: 0 1em;
    margin-bottom: 3em;
}

.wrapper .right a {
    color: white;
    font-size: 1.5em;
    background-color: #05A2D3;
    display: block;
    width: 24em;
    margin: 0 auto;
    padding: 0.3em 0;
    border-radius: 5em;
    box-shadow: 0px 8px 12px -4px black;
}