@import url("https://use.fontawesome.com/releases/v6.0.0/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');
main {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left, .right {
    width: 40%;  
    margin: 0 -7em;
    height: 300px;
}

.left {
    padding: 32px;
    background-color: #E3F3FD;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
}

.left h1 {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    margin-bottom: 1em;
}

.left i {
    margin-right: 10px;
    color: #66B9F8;
}

.left p {
    font-family: 'Lato', sans-serif;
    margin-top: 14px;
}

.right {
    padding-top: 4em;
    text-align: center;
    border: 6px #44A9F8 solid;
    border-radius: 10px;
}

.right p:first-child {
    font-family: 'Lato', sans-serif;
    font-size: 34px;
    color: #44A9F8;
    font-weight: bold;
    margin-bottom: 1.5em;
}

.right span {
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    color: #000;
    font-weight: normal;
}

.right p:nth-child(2) {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #737373;
    margin-bottom: 2em;
}

button {
    text-transform: uppercase;
    padding: 10px 42px;
    background-color: #44A9F8;
    color: white;
    font-family: 'Lato', sans-serif;
    letter-spacing: 3px;
    border-radius: 7px;
}