@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

/* 'Montserrat' for the heading */
body {
    font-family: "Lato", sans-serif;
}

.first {
    height: 750px;
    position: relative;
}

.first img {
    width: 100%;
    height: auto;
    opacity: 0.1;
    position: absolute;
}

.first header {
    height: 100px;
    width: 1745px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 2em 4em;
    background-color: white;
    box-shadow: 0 0 14px -1px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 6em;
}

.first header img {
    opacity: 1;
    width: 7%;
    height: auto;
    display: block;
}

body>main>section>header>div.right>nav>ul {
    display: flex;
    gap: 1em;
    font-size: 20px;
    align-items: center;
}

nav ul li a {
    color: #000;
}

header .right {
    display: flex;
    align-items: center;
}

body>main>section>header>div.right>nav>ul>li:nth-child(7) {
    background-color: #42ABF8;
    border-radius: 50%;
}

body>main>section>header>div.right>nav>ul>li:nth-child(7) a {
    color: white;
    width: 40px;
    height: 2em;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}

body>main>section>header>div.right>nav>ul>li:nth-child(3)>a {
    display: block;
    height: 100px;
    padding-top: 34px;
    border-top: 5px solid #42ABF8;
}

.first .bottom {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 5em;
}

.first .article-left {
    width: 950px;
    height: 435px;
    background-color: #29394B;
    border-radius: 15px;
    color: white;
    padding: 2em 1.5em;
}

.first .article-left h2 {
    font-size: 2em;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    margin-bottom: 1em;
}

.first .article-left p {
    font-size: 22px;
    margin-bottom: 2em;
    line-height: 1.3;
}

.first .images-right {
    width: 535px;
    height: 400px;
    display: flex;
    align-items: flex-end;
}

.first .images-right img {
    width: 256px;
    height: auto;
    z-index: 21;
    opacity: 1;
}

body>main>section>div>div.images-right>img:nth-child(2) {
    margin-left: 16em;
    width: 15%;
    height: auto;
}

.first h3 {
    font-style: italic;
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    margin: 1.4em 9em;
}

.second {
    padding: 4em 5em 2em 5em;
}

.second h2 {
    font-size: 35px;
    color: #3F4D5E;
    text-align: center;
    padding-bottom: 2em;
}

.second .diploma-info {
    width: 1660px;
    height: 330px;
    background-color: #F4F5F7;
    margin: 0 auto;
    padding: 2em;
    line-height: 1.4;
}

.second .diploma-info p {
    font-size: 22px;
    margin-bottom: 2em;
}

.second h3 {
    margin-top: 2em;
    margin-left: 46px;
    font-size: 20px;
    margin-bottom: 10em;
}

.third {
    width: 1660px;
    height: 368px;
    border-radius: 5px;
    margin: 0 auto;
    overflow-x: hidden;
    position: relative;
    border-radius: 20px;
    margin-bottom: 8em;
}

.third::after {
    content: '';
    background-color: rgb(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.third img {
    width: 110%;
    height: auto;
    display: block;
    object-fit: cover;
    margin-left: -5%;
    z-index: 2;
    position: absolute;
    opacity: 0.5;
    border-radius: 10px;
}

.third .text {
    position: relative;
    z-index: 3;
    margin-top: 3em;
}

.third .text h2,
.third .text p,
.third .text .btns {
    text-align: center;
    margin: 0 auto;
    color: white;
}

.third .text h2 {
    font-size: 2.6em;
    margin-bottom: 1em;
}

.third .text p {
    font-size: 23px;
    width: 67%;
    line-height: 1.2;
    margin-bottom: 4em;
}

.third .text .btns {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.third .text button {
    padding: 0.8em 2em;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
}

body>main>section.third>div>div>button:nth-child(1) {
    color: #43ABF8;
    background-color: white;

}

body>main>section.third>div>div>button:nth-child(3) {
    background-color: transparent;
}

body>main>section.third>div>div>div {
    border-left: 3px solid white;
    height: 2em;
    margin: auto 0;
}

.hline {
    border-bottom: 1px solid black;
    width: 87%;
    margin: 1em auto;
    
}

footer {
    width: 86%;
    height: 170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .left h2 {
    width: 250px;
    color: #CECECE;
}

footer .left {
    display: flex;
}

footer .right nav ul  {
    display: flex;
    gap: 0.8em;
}

footer .left h2,
footer .right nav ul li a {
    font-size: 20px;
}