.site-header {
    border-bottom: 1px solid rgb(0,0,0,0.3);
}

.site-header .site-title {
    padding: 0;
}

.site-footer {
    border-top: 1px solid rgb(0,0,0,0.3);
}

.site-footer p {
    padding: 0;
}