@import url("https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

body {
    font-family: "PT Sans", sans-serif;
}

header {
    height: 66px;
    padding: 0 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #D01919;
}

header i {
    font-size: 16px;
    margin-right: 5px;
}

main .first {
    width: 100%;
    height: 610px;
    background-image: url("image/fitness-main.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}

main .first a {
    color: white;
}

main .first nav ul {
    font-size: 24px;
    padding: 2em 0;
    display: flex;
    justify-content: flex-end;
}

main .first nav ul li {
    margin-right: 65px;
}

main .first nav {
    margin-bottom: 7em;
}

main .first .text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
main .first h1 {
    font-size: 4em;
    letter-spacing: 13px;
    font-weight: bold;
    margin-bottom: 40px;
}

main .first p {
    width: 30%;
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
}

main .first button {
    padding: 10px 2em;
    background-color: #D01919;
    color: white;
    border-radius: 7px;
    font-weight: bold;
}

main .second {
    height: 475px;
    background-color: white;
    color: #000;
    padding: 3em;
}

main .second h1,
main .third h1 {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

main hr {
    width: 3%;
    height: 4px;
    background-color: #D01919;
    margin-top: 2em;
    margin-bottom: 2em;
}

main .info {
    display: flex;
    justify-content: space-around;
}

main .info img  {
    width: 12%;
    margin-bottom: 2em;
}

main .info article {
    text-align: center;
    width: 33%;
    margin-top: 10px;
}

main .info article h1 {
    font-size: 26px;
    color: #D01919;
    margin-bottom: 1em;
}

main .info article p {
    font-size: 20px;
    width: 67%;
    margin: 0 auto;
}

main .info article:nth-child(3) p {
    width: 57%;
}

main .third {
    height: 675px;
    background-color: #EFEFEF;
    color: black;
    padding: 3em 0;
}

main .info2 {
    display: flex;
    justify-content: space-evenly;
}

main .info2 article {
    text-align: center;    
    width: 30%;
}

main .info2 article img {
    width: 65%;
    margin-top: 10px;
    margin-bottom: 15px;
}

main .info2 article h1 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}

main .info2 article h2 {
    font-size: 18px;
    color: #D01919;
    font-weight: bold;
    margin-bottom: 25px;
}

main .info2 article p {
    font-size: 20px;
    width: 65%;
    margin: 0 auto;
    color: #A6A1A5;
}

footer {
    height: 45px;
    background-color: #D01919;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20;
}