<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }} - Developer Portfolio</title>
    <link rel="stylesheet" href="/assets/styles/site.css">
</head>
<body class="home">

    <div class="site">

        {% include header.html %}
        
        <main class="site-content">

            {{ content }}

        </main>

        {% include footer.html %}
       
    </div>

</body>
</html>