* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 23em;
    background-color: rgb(255, 255, 255);
    padding: 1.5em;
    border-radius: 5px;
    box-shadow: 0 0 1em 0 rgba(0,0,0,0.6);
 }