@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:wght@300;400;700;900&family=Open+Sans:wght@300;400;500;600;700;800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

body {
    font-family: "PT Sans", sans-serif;
    margin: 0 100px;
}

header {
    height: 590px;
    background-image: url("image/computer-main.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
}

header::before {
    content: "";
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

header nav,
header .title,
header p,
header button,
header h3 {
    position: relative;
    z-index: 1;
    color: white;
}

header nav {
    padding: 2em 9em;
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    font-weight: 400;
}


header nav h2 i {
    font-size: 1.2em;
}

header .title {
    text-align: center;
    font-size: 5em;
    font-weight: 400;
    margin-bottom: 30px;
}

header p {
    color: white;
    font-size: 1.5em;
    width: 22em;
    margin: 0 auto;
    margin-bottom: 4em;
}

header button {
    padding: 1em 2em;
    background-color: #00D08E;
    border: 4px solid #00D08E;
    font-weight: bold;
    border-radius: 8px;
    margin-bottom: 6em;
}

header button:hover {
    background-color: transparent;
    border: 4px solid white;
}

header h3 {
    font-size: 24px;
    text-shadow: 1px 1px 5px black
}

header h3 i {
    margin-left: 10px;
}

.first {
    display: flex;
    justify-content: space-between;
}

.first .left img {
    width: 85%;
    height: 100%;
}

.first .right {
    padding: 2em 4em;
    margin-left: -10em;
    width: 50%;
}

.first .right h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 15px;
}

.first .right h2 {
    font-size: 31px;
    margin-bottom: 2em;
}

.first .right p {
    font-size: 22px;
    margin-bottom: 43px;
}

.first .right p i {
    color: #00D08E;
    margin-right: 1.6em;
}

.second {
    height: 400px;
    display: flex;
}

.second .left {
    width: 50%;
    padding: 2em;
}

.second h1 {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 1em;
}

.second p img {
    width: 12%;
}

.second p {
    display: flex;
    justify-content: space-evenly;
}

.second .left .txt {
    display: flex;
    justify-content: space-between;
    margin: 0 5em;
    color: #00D08E;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 1em;
}

.second .one {
    margin-left: -29px;
}


.second .three {
    margin-right: -24px;
}

.second .five {
    margin-right: -30px;
}

.second .six {
    margin-right: -20px;
}

.second .right img {
    width: 57em;
    height: 400px;
}

footer {
    height: 540px;
    background-color: #B2F1DD;
    padding: 2em;
}

footer h1 {
    text-align: center;
    font-size: 3.5em;
    font-weight: bold;
    margin-bottom: 1em;
}

footer .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

footer .info {
    width: 30%;
    height: 150px;
    margin-bottom: 2em;
}

footer .info h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

footer .info p {
    width: 18em;
    margin: 0 auto;
    font-size: 21px;
}

footer h3 {
    font-size: 20px;
    text-align: center;
}

footer h3 span {
    font-weight: bold;
}